SD_IVITRINA_BOT_TOKEN=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
VITRINA_API_BASE=https://vitrina-api.jurta.kz

VITRINA_AI_BOT_TOKEN=
DIFY_API_BASE=https://api.dify.ai/v1
DIFY_BEARER_TOKEN=

LOG_LEVEL=INFO
LOG_DIR=/app/logs
